div {
    border: lightgray 2px solid;
    width: 20vw;
    height: 55vh;
    border-radius: 5px;
}


h2 {
    color: lightgray;
    font-size: 18px;
    margin-bottom: 7px;
}

.pad {
    padding-left: 15px;
}
h1 {
    background-color: rgb(235, 226, 226);
    width: 20vw;
    height: 25vh;
    margin: 0px;
}
h3{
    margin-top: 0px;
}
h4{
    color: rgb(88, 88, 88);
}

/* h1 {
    text-align: left; letter-spacing: 5px; 
}
h4 {
    font-size: 12px;
    margin-top: 15px;
    margin-left: 10px;
}
h5 {
    text-align: right; font-size: 39px; text-decoration: underline;
}

div{
    border-radius: 9px;
    width: 300px;
    height: 400px;
    border: rgb(187, 184, 184) 2px solid;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    
}
h3 {
    font-size: 20px;
    text-align: left;
    color: white;
    margin-left: 29px;
}
a {
    margin-left: 100px;
    color: purple;
    text-decoration: none;
}
p {
    margin-left: 25px;
}
.arrow {
    height: 50%;
    width: 100%;
    margin-left: -10px;
}
img {
    width: 300px; height: 150px;
    border-radius: 8px;
}
.i {
    margin-top: 4px;
}
.gray {
    color: gray;
} */